doctype html
html
  head
    title= title + ' | 1tool1'
    link(rel="stylesheet", href="/css/tailwind.css")
  body(class="min-h-screen flex flex-col bg-gray-100") 
    header(class="bg-[#587246] text-white p-4 shadow-lg w-full")
      a(href="/user/dashboard", class="text-2xl font-bold") 1TOOL1

    main(class="flex-grow p-4") 
      block content

    footer(class="bg-[#587246] text-white p-4 mt-4")
      p &copy; Backend Web - Project 2 (2025)
