extends ../layouts/layout

block content
  h2(class="text-3xl text-center text-[#411900] mt-8") Welcome, #{user.name}!
  p(class="mt-4 text-center text-gray-600") This is your dashboard.

  div(class="mt-8 text-center")
    p(class="text-gray-500") Email: #{user.email}
    a(href="/user/logout", class="text-[#411900] underline hover:text-[#6f2600]") Logout